<!-- wp:template-part {"slug":"header","theme":"comedical","tagName":"header"} /-->

<!-- wp:pattern {"slug":"comedical/hero"} /-->

<!-- wp:pattern {"slug":"comedical/clients"} /-->

<!-- wp:group {"tagName":"main","className":"cm-main-content cm-container cm-section","layout":{"type":"constrained"}} -->
<main class="wp-block-group cm-main-content cm-container cm-section">
  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"comedical","tagName":"footer"} /-->
