<!-- wp:template-part {"slug":"header","theme":"comedical","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"cm-main-content cm-project-single","layout":{"type":"constrained"}} -->
<main class="wp-block-group cm-main-content cm-project-single">
  <!-- wp:group {"className":"cm-project-hero cm-container cm-section","layout":{"type":"constrained"}} -->
  <div class="wp-block-group cm-project-hero cm-container cm-section">
    <!-- wp:post-title {"level":1,"className":"cm-project-hero__title"} /-->
    <!-- wp:post-excerpt {"className":"cm-project-hero__excerpt"} /-->
    <!-- wp:post-featured-image {"aspectRatio":"16/9","className":"cm-project-hero__image"} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"className":"cm-project-content cm-container cm-section","layout":{"type":"constrained"}} -->
  <div class="wp-block-group cm-project-content cm-container cm-section">
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

    <!-- wp:buttons -->
    <div class="wp-block-buttons">
      <!-- wp:button {"className":"cm-btn--outline cm-project-back"} -->
      <div class="wp-block-button cm-btn--outline cm-project-back"><a class="wp-block-button__link wp-element-button" href="/projekte/">Zurück zum Projekt-Archiv</a></div>
      <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"comedical","tagName":"footer"} /-->
